body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* CABEÇALHO */

.filtersContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
}

.estiloGeralBotoes {
    border: none;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    display: block;
    font-size: 0.9rem;
}

.estiloGeralBotoes--mostrarTodos {
    color: #ffffff;
    background-color: #12B886;
}

.estiloGeralBotoes--filtrarHortifruti {
    background-color: #12B886;
    color: white;
}

.containerBuscaPorNome {
    display: flex;
    justify-content: space-between;
}

.campoBuscaPorNome {
    border-radius: 5px 0 0 5px;
    border: 1px solid black;
    padding: 0 10px;
}

.estiloGeralBotoes--botaoBuscaPorNome {
    background-color: #12B886;
    color: white;
    border-radius: 0 5px 5px 0;
}


/* CONTEÚDO */

main {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 20px;
}

.containerListaProdutos {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.containerListaProdutos ul {
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.containerListaProdutos ul li {
    color: black;
    font-weight: bold;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    transition: ease-in-out .1s;
    width: 20%;
    border: 1px solid #12B886;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    background-color: #ffffff;
}

.containerListaProdutos ul li div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
    justify-content: flex-start;
    align-items: flex-start;
    justify-items: flex-start;
    align-content: flex-start;
}

.containerListaProdutos ul li:hover {
    box-shadow: 3px 3px 13px 1px rgb(146 146 146);
}

.containerListaProdutos ul li img {
    border-radius: 8px;
    max-width: 80px;
}

.containerListaProdutos ul li h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    color: #12B886;
}

.containerListaProdutos ul li p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #12B886;
    /* identical to box height, or 133% */
}

.containerListaProdutos ul li span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    background-color: #12B886;
    color: #ffffff;
}


/* PREÇO TOTAL */

.containerPrecoTotal {
    text-align: center;
}

.containerPrecoTotal p {
    font-size: 1.4rem;
    font-weight: 600;
}

.containerPrecoTotal p span {}